<div class="flex flex-col gap-y-5 p-5">
  <p class="font-bold "> Search Result </p>
  <div class="bg-emerald-50">
    <% @articles.each do |a| %>
      <p class="text-indigo-900"> <%= a.content %> </p>
    <% end %>
  </div>
  <hr>
</div>

